[2019-07-24 01:12] sangorrin opened #1 "DoS download attack"
An attacker in possession of one or more ECU private keys may launch a (D)DoS attack (HTTP flood [1]) on the image repository by continuously downloading update images at high speed. Such an attack, if successful, may result in the unavailability of updates to other ECUs.

OEMs should be able to detect and block such attacks, for example by revoking the offending ECU certificates, and possibly tak

[2019-08-02 18:00] jhdalek55 opened #4 "Guidelines for using repository mapping metadata to have more than one image repository, and how to check that metadata in the more complicated cases"
Though the Uptane Standard supports  implementations containing one Director and one Image repository, it does not negate adoption by legacy systems utilizing multiple repositories. In this case, repository mapping metadata will need to designate the repositories required to sign the targets metadata for images. What would such metadata look like, and what else would be entailed in the deployment

[2019-08-02 18:03] jhdalek55 opened #5 "Options for providing current time"
One very significant decision during the writing of the Uptane Standards was to not stipulate a particular way to deal with issues of time, due to the various approaches used in practice. What alternative approaches to providing current time do we need to accommodate?

[2019-08-02 18:04] jhdalek55 opened #6 "Dealing with aftermarket ECU swaps"
All use cases in the Standard are based on the assumption that actions are initiated by an OEM. There’s a need to consider a use case for when one ECU is swapped for another at a dealer aftermarket. How do we correct for use cases that are not initiated by an OEM?

[2019-08-02 18:06] jhdalek55 opened #7 "Image encryption to meet ECU requirements"
Is there a secure way for an ECU to require that images must be encrypted? The Standard has requirements for  image encryption, but does not address how to accommodate an actual ECU that may require such encryption

[2019-08-02 18:24] jhdalek55 opened #8 "How do we secure data during transport?"
Version 1.0 of the Uptane Standard incorporates nothing about controlling security when data is transported between the server and the primary. What strategies can be recommended to address this security gap?

[2019-09-03 15:10] tkfu commented on #1
Thank you for the suggestion, @sangorrin. However, ECU private keys/certs are not relevant to this discussion; the Uptane standard makes no prescription about authentication methods on the repository.

Because no Uptane-related key or protocol is implicated here, the problem you are describing is simply the general problem of dealing with DoS attacks. We consider that to be a fairly obvious part o

[2019-09-03 15:10] #1 closed

[2019-09-03 15:11] jhdalek55 commented on #1
Thanks, Jon. You handled that better than I could.

Lois

On Tue, Sep 3, 2019 at 11:10 AM Jon Oster <notifications@github.com> wrote:

[2019-09-06 05:41] sangorrin commented on #1
Hi @tkfu thanks for your answer.

[2019-09-09 17:21] jhdalek55 commented on #4
Some quick background--This issue emerged from discussions centered around the closed issue #53 on the Standards repo. We need a volunteer to develop some initial text to address this issue, preferably  someone who has worked with multiple repositories.

[2019-09-09 17:24] jhdalek55 commented on #5
For background on this issue, please see closed issues #52 and #66 on the Standards Repository. We still need a volunteer to do an initial draft of a pull request to deal with this issue.

[2019-09-16 15:53] jhdalek55 commented on #8
Note that we have a brief write-up basically stating that our systems does not explicitly cover transport security,  and mentioning what systems for transport security can be used with Uptane. This is on the Customization page under the heading of "Uptane in conjunction with other protocols." Is that sufficient for now?

[2019-09-16 17:08] JustinCappos commented on #8
Yes, but we should change this to be more clear that we do not rely on any
transport security mechanism.  It's implicit now.

On Mon, Sep 16, 2019 at 11:53 AM Lois Anne DeLong <notifications@github.com>
wrote:

[2019-09-16 20:11] jhdalek55 commented on #8
Ok. So if the existing text just needs to be made more explicit, then perhaps I can take a run at it and see if the point can be strengthened.

[2019-09-17 09:44] jhdalek55 opened #14 "Filling in the ASN-1 example page"
There is a designated page for ASN-1 examples. I don't know if this page was to filled with examples from the original Implementation document or if new examples were to be provided. In the light of us adding the POUF do we even need to have such  a page?

[2019-09-17 10:15] jhdalek55 opened #15 "Adding section copy to Normal Operations"
When the website layout was set, there were several categories under this heading. One was "What can an Uptane-compliant system look like?" and the other is "Acceptance Testing."

Can we get a volunteer to take a look at these two open sections and decide what copy might be needed or if these categories are needed.

Perhaps the first section could be addressed with a graphic?

[2019-09-17 15:01] jhdalek55 commented on #15
On the call it was decided that that these categories will be removed from the page at this point. If it become apparent that information on these topics be on this page, we will add at it back at that time.

[2019-09-17 15:05] jhdalek55 commented on #14
This page will be dropped. We will add a paragraph to the "Repositories" page that points to these examples on the POUF.

[2019-09-17 15:44] jhdalek55 commented on #15
Closed via PR#12

[2019-09-17 15:44] #15 closed

[2019-09-17 15:53] jhdalek55 commented on #8
The existing text can be found on the 'Customizations" page as follows:
https://github.com/uptane/deployment-considerations/blob/master/customizations.md#uptane-in-conjunction-with-other-protocols.

I will take a first pass at clarifying this text.

[2019-09-17 17:19] JustinCappos commented on #8
Based upon the conversation today, I wanted to discuss a little more about what Uptane "loses" if there is a man-in-the-middle attacker.

The security loss I see is that an attacker can do a freeze attack or just block updates.  The vehicle will quickly become aware of the issue, and this error can be surfaced in an appropriate manner.

One issue I heard raised is that one needs to have transport

[2019-09-17 17:43] iramcdonald commented on #8
Hi,

Speaking from my six years of cybersecurity work (mostly on OTA updates)
with three different automotive OEMs, their reasons for mandatory strong
transport security include:

(1) Defense-in-Depth - if only signatures are checked on protocol objects
(manifests, images, metadata) are checked, then only application layer
security is present - IETF, ISO, ITU-T, ETSI best practices and standards
i

[2019-09-17 17:52] JustinCappos commented on #8
Okay, I feel like we're agreeing on the technical aspects and our biggest
disagreement is how to present this.  Perhaps a way of phrasing this
differently is that Uptane provides strong security even when transport
security fails.  Do you feel this would be a good resolution, or do you
think there is a better way to convey this?

On Tue, Sep 17, 2019 at 1:43 PM iramcdonald <notifications@github.co

[2019-09-17 18:30] iramcdonald commented on #8
Hi Justin,

I don't agree with your summary.

No single layer set of security guarantees is as strong as multiple
protocol layer security guarantees combined with Endpoint system
integrity proofs and active runtime monitoring.

Uptane focuses on application layer security guarantees.  That's
fine.  But it does NOT mitigate the loss of "defense-in-depth".
Uptane application layer security alone con

[2019-09-17 18:43] JustinCappos commented on #8
Okay, so when we threat modeled Uptane, we also focused on explaining what
the ramifications were of not making a choice.  I'm thinking back to those
tables with the icons for different attacks that I'm so fond of showing
during meetings.

Uptane + transport layer security is stronger than Uptane.  Heck, Uptane +
anything that provides epsilon more security is stronger by definition.

My thrust he

[2019-09-17 19:48] iramcdonald commented on #8
Hi Justin,

OK - I agree that Uptane + any security enhancement at another layer
or in the end system ECU itself provides stronger security than just
Uptane.  And that Uptane does address that variety of attacks in the
diagrams.

Cheers,
- Ira

Ira McDonald (Musician / Software Architect)
Co-Chair - TCG Trusted Mobility Solutions WG
Co-Chair - TCG Metadata Access Protocol SG
Chair - Linux Foundati

[2019-09-17 21:12] JustinCappos commented on #8
Okay, let me take another cut at some proposed text.  I'd like to include
both perspectives in the new text, both saying our threat model isn't
significantly weakened if transport layer security fails and also
explaining that it is stronger with it plus there may be regulatory,
compliance, redundant auth, etc. reasons.

Does this approach seem like a good compromise?  If so, I'll write up
somethin

[2019-09-17 21:25] jhdalek55 commented on #8
This seems to make the most sense.

[2019-09-17 22:17] iramcdonald commented on #8
Hi Justin,

In *any* protocol, if a receiver detects that Transport layer security has
failed, it MUST discard everything received, abandon the transaction,
and securely log a fatal error.

So I think you still need to be a bit careful about your wording.

Cheers,
- Ira

Ira McDonald (Musician / Software Architect)
Co-Chair - TCG Trusted Mobility Solutions WG
Co-Chair - TCG Metadata Access Protoco

[2019-09-18 14:50] JustinCappos commented on #8
I might be reading something wrong into what you're saying, so apologies if
this is off-base...

If a transport layer key is compromised (i.e., an edge server is broken
into), what should the response be apart from logging and erroring?  How
does the system get back to a secure state if the transport layer key it
trusts may be under the control of an attacker?

Also, is detecting such an error a c

[2019-09-18 15:36] iramcdonald commented on #8
Hi Justin,

I have zero time in the next two weeks, so a quick response.

Applications using TLS for transport security SHOULD have redundant
credentials for
communicating with remote servers (such as the Director).  Otherwise, there
is no
possible recovery.  Likewise a Director SHOULD have redundant TLS
credentials for
communicating with Image Repository and Vehicle Inventory Database servers.

T

[2019-09-18 17:44] JustinCappos commented on #8
Perhaps we should shelve this discussion for now and revisit in either the
next meeting or a separate meeting specifically on this topic...

On Wed, Sep 18, 2019 at 11:36 AM iramcdonald <notifications@github.com>
wrote:

[2019-09-20 21:08] jhdalek55 commented on #8
It appears there is a lot more to discuss with this issue. Shall I add it to the agenda for our 10/1 meeting?

If this perhaps is going to take a few iterations to address correctly, might it be possible to agree on some general broad wording in the meantime? The current reference to this issue on this site is on the "Customizations" page at https://github.com/uptane/deployment-considerations/blob

[2019-09-23 22:27] jhdalek55 commented on #6
Addressed in PR#17 @tkfu, can we close this issue now?

[2019-09-23 22:40] jhdalek55 commented on #14
Deleted the empty file. Before I can remove this issue, a paragraph has to be added to the Repositories page pointing to ASN-i1 examples in the POUF.

[2019-09-24 06:07] tkfu commented on #6
Yup, closed by #17,

[2019-09-24 06:07] #6 closed

[2019-09-30 19:55] jhdalek55 commented on #8
I put this issue on our meeting agenda, though I believe it might warrant a separate call. I would still like some consensus on whether the existing text is sufficient for now.

[2019-09-30 21:48] iramcdonald commented on #8
Hi Lois,

In Deployment Considerations, all of the OEM contributors have at one time
or another asked for a considerably deeper treatment of Transport Security.

Earlier in this long and winding thread, Justin said:

"Based upon the conversation today, I wanted to discuss a little more about
what Uptane "loses" if there is a man-in-the-middle attacker.

The security loss I see is that an attacker

[2019-10-01 14:14] zabbal commented on #4
https://github.com/uptane/uptane-standard/issues/53 - are you referring to this issue?

[2019-10-01 14:34] jhdalek55 commented on #4
Yes. That is the relevant issue.

[2019-10-01 14:41] zabbal commented on #5
https://github.com/uptane/uptane-standard/issues/52
https://github.com/uptane/uptane-standard/issues/66
just to make it easier :)

[2019-10-07 12:05] patrickvacek commented on #5
Sounds like Ira's comment [here](https://github.com/uptane/uptane-standard/issues/143#issuecomment-536800994) has some information worth incorporating to make sure we stay future-proof.

[2019-10-07 14:24] JustinCappos commented on #8
#19 is proposed as a first cut at this.  Thoughts / comments / edits?

[2019-10-18 21:48] jhdalek55 commented on #7
See PR#21

[2019-10-21 14:39] jhdalek55 commented on #8
Closed via PR #19

[2019-10-21 14:39] #8 closed

[2019-10-21 16:24] jhdalek55 commented on #7
Closed via PR #21

[2019-10-21 16:25] #7 closed

[2019-10-21 17:07] jhdalek55 commented on #14
Closed issue via PR #20

[2019-10-21 17:07] #14 closed

[2019-10-21 21:07] jhdalek55 opened #25 "Reference to Map File"
On the Customization page, there are two references to the Map File. I know this was removed from the Standard (I did a search of the Standard, just to be sure and it is not referred to at all). We need a patch for that page that clarifies the procedure without the Map File.

[2019-10-22 13:39] patrickvacek commented on #25
Are you referring to the repository mapping metadata? That's definitely [in the standard](https://uptane.github.io/uptane-standard/uptane-standard.html#repo_mapping_meta); it was mostly added in https://github.com/uptane/uptane-standard/pull/111.

[2019-10-22 15:32] jhdalek55 commented on #25
No this is an an explicit reference to the "map file"...under that terminology. I could not find a reference to the "map file" as a distinct component.

[2019-10-22 15:55] jhdalek55 commented on #25
Ok. I believe this is a terminology issue and not a change in technique. I'll take down this issue once I've correctly resolved the text.

[2019-10-23 14:27] jhdalek55 commented on #25
I'm closing this down as this is not the issue I thought it was. A simple wording change on PR #23 will resolve the problem.

[2019-10-23 14:28] #25 closed

[2019-10-26 01:22] allen-cain commented on #4
Below is proposed wording to address the issue of "supporting Uptane on legacy system using multiple repositories".
----

In cases where a previous OTA systems exist, there may be a need to integrate these systems with Uptane-compliant OTA systems.
For these use cases there are several topics to consider (some of which are outside the scope of this document) including but not limited to: API secur

[2019-10-28 10:55] patrickvacek commented on #4
I think we're talking about two different things here. Not that this text isn't usable, but this seems to be about transitioning from a legacy system to Uptane. My understanding was that we need text to cover an Uptane system with multiple Image repositories. I seem to recall that it was generally agreed that multiple Director repositories was not recommended.

Two drafts of the text that were con

[2019-10-28 16:50] trishankatdatadog opened #31 "On the dangers of dynamic directions"
We should discuss [dynamic directions](https://github.com/uptane/deployment-considerations/pull/23#issuecomment-547039349) in more depth. In particular, we say that it can be done, but also that it's dangerous, so proceed with caution.

This is not enough. We need to discuss risk-mitigating strategies in more detail. It's best to recommend nothing than to recommend something accidentally dangerous

[2019-10-28 16:56] jhdalek55 commented on #31
Ok. Thanks for posting this. In the meantime, should we remove that text from the page? If its that big a concern, would it  not be better to take it down till this is resolved?

Lois

[2019-10-28 18:51] jhdalek55 commented on #4
So, should we cobble a bit from all the above and put it out there as a starting point? I'd be happy to take a stab at this, but it might be more effective is someone with a bit more technical expertise than me took a run at it.

[2019-10-29 15:50] jhdalek55 commented on #5
Per phone meeting on 10/29, this issue will be closed for now. We can re-visit it as we move forward if it becomes clear there is a need to do so.

[2019-10-29 15:51] #5 closed

[2020-01-02 14:55] jhdalek55 commented on #31
@trishankatdatadog ...so we can move forward with this issue, could you outline a few of your specific concerns on this topic? That way, someone else could carry this forward if you don't have the time to do so? Thanks.

[2020-01-02 18:43] trishankatdatadog commented on #31
I just looked at the [text](https://github.com/uptane/deployment-considerations/blob/59f8b1adc4f30ee4a3cc2620c527aee8b4c25803/customizations.md#picking-an-option-efficiency-vs-security), and the warning about efficiency vs security seems fine.

However, now I have questions about the efficiency concerns in there. I'll raise a separate issue.

[2020-01-02 18:43] #31 closed

[2020-01-02 18:57] trishankatdatadog opened #34 "Efficiency vs security in dynamic considerations"
This [text](https://github.com/uptane/deployment-considerations/blob/59f8b1adc4f30ee4a3cc2620c527aee8b4c25803/customizations.md#picking-an-option-efficiency-vs-security) as it is is not as clear as it could be.

It alleges efficiency considerations when including dynamic directions in the custom targets metadata: "If dynamic directions are sent using the custom field of Targets metadata, these dir

[2020-01-15 17:53] jhdalek55 commented on #34
@trishankatdatadog , when you get a chance, can you rough out a suggested edit for this issue? Or perhaps @mnm678, you could take a stab at this, as I believe you worked on this issue in the Google doc?

[2020-01-15 17:54] trishankatdatadog commented on #34
I will do my best, drowning with work

[2020-01-15 17:54] jhdalek55 commented on #34
Understood. No pressure here.

[2020-01-22 14:09] patrickvacek opened #40 "Fetching the Root metadata in partial verification Secondaries"
As discussed in yesterday's call, there may still be a reasonable use case for a partial verification Secondary to fetch both the Root and Targets metadata from the Director (via the Primary), as opposed to only fetching the Targets and expecting the Root metadata to be baked into the image.

The problem with baking in the Root metadata is that a new image is required to update the Root metadata.

[2020-01-30 17:22] jhdalek55 opened #41 "We should maintain a stable PDF version of the Deployment pages"
On our 1/21 phone call there was some discussion over whether there was a need for a stable PDF version of the Deployment pages. Ira McDonald stated that OEMs have asked for such a document, and so we may want to consider adding a link to such a document. We would like to hear from the community if we should go ahead an implement this.

Ira, feel free to build on this.

[2020-02-18 15:41] tkfu commented on #41
On the 18.02.2020 standards call, we agreed that we would release versioned deployment docs.

I will create a script or pipeline to generate a PDF from a particular commit, so that we can use the PDF as the specifically versioned recommendations.

[2020-03-03 15:15] tkfu commented on #40
Closed by #42

[2020-03-03 15:15] #40 closed

[2020-03-12 17:29] jhdalek55 commented on #34
@trishankatdatadog @mnm678 ...No rush on this, but if this is a simple text clarification, can one of you take a stab at drafting this? It would be good to have this in place before we begin work on doing a stable PDF of the pages. Thanks.

[2020-03-12 17:33] jhdalek55 commented on #4
As we begin work towards a stable PDF of the deployment pages, do we want to address this issue, or is it best if we just keep this in limbo and wait to see if the community lets us know its something we have to address?

[2020-03-17 14:57] tkfu commented on #4
So, to clarify, this issue was opened to write guidelines for how repository mapping metadata can be used in the case where you need to use multiple image repositories. It's not particularly related to transitioning from legacy repositories.

To do list here:

* Explain the extra checks that a vehicle would need to do in the presence of repository mapping metadata that indicated more than one imag

[2020-03-17 18:04] jhdalek55 commented on #4
Thanks for the change in topic.

[2020-03-19 22:03] trishankatdatadog commented on #34
Done, I added #43 as a fix

[2020-03-21 14:30] #34 closed

[2020-03-26 16:22] jhdalek55 commented on #4
We welcome input on this issue here or on the mailing lists and will discuss this issue on our phone call of 3/31,

[2020-04-10 16:46] jhdalek55 commented on #4
Can we perhaps initiate some conversation on this issue before we discuss it on our 4/14 call?

[2020-06-19 17:44] jhdalek55 commented on #4
Again, just following up on open issues. I know we have discussed this in connect with other issues on  the Standard , including #162, but I don't recall if we agreed on any resolution.

[2020-07-16 10:37] tkfu opened #48 "Should a metadata file still be valid if it meets the threshold of valid signatures, but also includes one or more invalid signatures?"
Title mostly says it all, but I'll flesh out a couple of examples:

Root metadata says valid top-level targets keyids are `a`, `b`, `c`, and `d`, with a threshold of 2. Should the following two metadata files be considered valid?

* Signed by `a`, `b`, and `x`, where `x` is not present at all in root metadata
* Signed by `a`, `b`, and `c`, but `b`'s signature doesn't actually match the signed cont

[2020-07-28 19:21] allen-cain opened #46 "Image Repository Allow Encrypted Images"
The standard states that encrypted images are optional for Director repository (Section 5.3.2) & provides CONDITIONAL REQUIREMENTS for encrypted images on Director repository (Section 5.2.3.1.1).
Additionally, the standard is silent to the possibility of encrypted updates on the Image repository.
Separately, the Deployment Considerations makes reference to `"unencrypted images from the Image repos

[2020-07-28 19:21] allen-cain-tm opened #45 "Examining the implications of Time Server key compromise"
The Deployment Considerations gives an overview of a "Secure Source of Time" with more details on the "Time Server", including effects to the vehicle when needing to update the Time Server key.
Additionally, the Deployment Considerations discusses how to handle Key Compromise for Uptane-related Repo's & ECU keys.

Considering this, I believe there is a gap in discussing the effects of a Time Serve

[2020-07-28 19:21] allen-cain opened #47 "Deployment Considerations References to "Recall""
The Deployment Considerations "Key Management" page has several references to `recall`.

<ins>**Proposal:**</ins> Remove all references to `recall` in favor of terminology allowing an OEM to safely and securely handle the revocation, rotation, and updating of cryptographic material.

[2020-07-28 19:22] allen-cain opened #51 "Deployment Considerations Clarifications"
In Deployment Considerations section > Secure Time Source > Changes to all ECUs  - states the following: `At build time, ECUs will receive an attestation of the current time as downloaded from the Time Server.`.

Two points.
1) What is the definition of `build time` -- build code, ECU assembly, vehicle assembly, port, dealer?
2) If ECUs must receive an attestation of the current time, then this se

[2020-08-18 18:35] mnm678 commented on #47
It should be possible to replace the word `recall` with a more general term without losing the security properties intended.

Specifically, any situation that requires revoking a root key (which should be very rare if a threshold of offline keys are used) must be handled through a channel that is more secure than the root key itself. If this secure channel is another over-the-air mechanism, the se

[2020-08-30 23:51] jhdalek55 commented on #48
@tkfu what needs to be done if this clarification is to be part of the 1.1.0. If its a wording clarification, what should it say and where should it go?

[2020-09-01 14:41] mnm678 commented on #4
In discussion on the 9/1 call, we decided to point [tap 4](https://github.com/theupdateframework/taps/blob/master/tap4.md) for anyone interested in using multiple image repositories. In a future version of the deployment considerations we can revisit this issue as needed.

[2020-09-01 14:58] jhdalek55 commented on #46
Move this back to the Standard and remove conditional text on 5.2.3.1.1. per call on 9/1/20

[2020-09-01 15:09] plapczyn commented on #47
Could we use "update" instead of "recall" in key_management.md?

[2020-09-01 15:21] iramcdonald commented on #47
Based on today's Uptane call, I suggest that for v1.1.0 we should:
(1) Replace "recall" with "update" in our Key Management section
(2) Add an early reference to IETF RFC 4107 / BCP 107 (that latter is important)
Guidelines for for Cryptographic Key Management, which is advice for protocol
designers on the use of automated KMS versus manual KMS.
(3) Defer the larger rewrite/extension of Key Manage

[2020-09-01 16:35] tkfu commented on #4
@mnm678 I added an explanation of how to use multiple different download locations without actually using multiple image repos in #49. It also briefly references TAP-4. It doesn't address anything about the situations where you might actually _want_ to have multiple image repos, though.

[2020-09-02 19:35] #47 closed

[2020-09-02 19:47] jhdalek55 commented on #45
It was agreed in the 9/1/20 meeting that this issue should be held for V.2.0.0 of Deployment Best Practices

[2020-09-02 19:52] jhdalek55 commented on #4
Are we flagging this for 2.0.0 to resolve the larger issue?

[2020-09-13 23:55] jhdalek55 commented on #4
Per our meeting on 9/1, it was decided that this issue should be flagged for inclusion into  a separate deployment page to go with for Version 2.0.0. The thinking was making such a change now might be of questionable usefulness. right now. @tkfu or @patrickvacek  can you change the milestone here to 2.0.0.

[2020-09-14 01:30] jhdalek55 commented on #46
@tkfu or @patrickvacek --my notes from the 9/1/20 call states that we should move this back to the Standards page and take out the conditional text. If I have this correct, can you make that move so we can do a pull request? I am assuming that these are the lines meant by the "conditional text"

"The following information is CONDITIONALLY REQUIRED for each image on the Director repository IF that

[2020-09-14 06:50] patrickvacek commented on #4
I don't appear to have the rights, but for anyone who does, it should be a trivial thing to do.

[2020-09-14 11:14] tkfu commented on #46
I think we aren't doing a very good job of communicating how Uptane is intended to work with encrypted images.

Let me first address the issue of encrypted images on the image repo: they just aren't very interesting, and there's not a lot of reason for Uptane to mention or care about this possibility.

Image repo targets metadata is signed with an offline key, updated infrequently, and is not cust

[2020-09-14 15:06] tkfu commented on #46
I don't see it as an inconsistency, just a place where we aren't doing a good enough job of explaining things.

I think we could do two main things to make this better: say explicitly in the standard that we only discuss encrypted images from the Director because we only impose special requirements on images that are per-ECU encrypted, and say somewhere in the deployment considerations (and perhap

[2020-09-14 15:37] jhdalek55 commented on #51
Closed via merging of PR #52

[2020-09-14 15:38] #51 closed

[2020-09-14 15:42] jhdalek55 commented on #46
Ok. If I have time later today. I'll open PRs to address what you mention above. Thanks.

Lois

[2020-09-14 21:48] jhdalek55 commented on #46
@allen-cain Can you point out in what section/page of the Deployment pages you suggest we add a mention that there is nothing to prevent the use of encrypted images on the image repository. You didn't reference a section in your original posting.

[2020-09-15 14:45] tkfu commented on #46
Tagging this 1.1.0 for now; hopefully someone volunteers to write up the clarifications.

[2020-09-25 15:36] jhdalek55 commented on #48
On our 9/15 call we decided to acknowledge this issue, but not within the formal text of the Deployment pages. Instead we decided to include an FAQ page in the document for issues like this that may not be common use cases, but still should be acknowledged.

[2020-09-25 15:42] jhdalek55 opened #53 "Setting up a FAQs page"
In reference to issue #48, it was agreed we should add an FAQ page to v. 1.1.0 of the Deployment Considerations. In addition to Issue #48, are there other issues that we would like to acknowledge, but at this point, would not like to incorporate into the text of the Deployment  Document?

[2020-09-25 16:44] jhdalek55 opened #54 "Summarizing Main Changes from V.1.0.0"
As per @iramcdonald, our versioned pdf of Deployment Best Practices requires a summary of the primary changes. I am opening this issue as a gathering place for what should be mentioned in this write-up.

The basis of this document will be the commits made between August 2019 and September 2020. A list through June 2020 already exists at https://groups.google.com/g/uptane-standards/c/Vq8T9K9CHkM.

[2020-10-12 00:23] jhdalek55 commented on #46
@iramcdonald provided some necessary insight via email last week. Unless someone else wants to volunteer to do this, I will submit a draft PR sometime later this week adding it Deployment Best Practices in section F Enhanced Security Practices.

[2020-10-12 17:31] jhdalek55 commented on #53
It would be odd to have an FAQ for one item, so it would be good to identify a few other issues for this page. Are there issues we closed or deferred that could be referenced this way?

[2020-10-16 22:10] jhdalek55 commented on #54
I will work on this list next week. However, I'm not sure if I know how to open a new page for this content. @tkfu or @patrickvacek, could you open a markdown page for  "Changes Since V.1.0.0" and another for the FAQ page?

[2020-10-19 02:51] jhdalek55 commented on #46
Closing this Issue via Pull Request #55

[2020-10-19 02:51] #46 closed

[2020-10-19 07:30] patrickvacek commented on #54
Sure, see https://github.com/uptane/deployment-considerations/pull/56. I don't have write privileges here so I had to make the PR from my fork. Up to you if you want to pull my branch and work on that or merge mine and make a new PR.

[2020-10-27 14:30] jhdalek55 commented on #54
Closed via Pull Request #57

[2020-10-27 14:31] #54 closed

[2020-10-27 16:13] jhdalek55 commented on #53
Per our 10/27 meeting, we will be adding this page to V.1.1.0 of the Deployment document. In addition to a response to Issue #48, we will include a brief summary of "What makes Uptane different?" and "How does Uptane work with other protocols?." Answering the latter question may also require adding  some text to the "Customizing Uptane"

[2020-11-05 00:11] jhdalek55 commented on #53
@JustinCappos ...just a reminder . on the 10-27 call you offered to script some text for the two questions above. I am going to attempt an item based of answering Issue #48.

[2020-11-06 23:19] jhdalek55 commented on #48
I drafted the following text in response to this issue. Before I move this onto the FAQs page, I wanted @JustinCappos and @tkfu  to see if it makes sense. I literally used your words. I just tried to combine them into a statement rather than a question. Let me know if this works.
------------------------
Must all signatures be valid for a threshold of signatures to be valid?

The threshold rule of

[2020-11-09 08:26] patrickvacek commented on #48
@jhdalek55 looks generally fine to me, with a few minor caveats. Might be easier to discuss it as a PR, though. :)

Comments so far:
* "The threshold rule of Uptane" -> we should provide the section number and link to it.
* "This is designed to complicate matters for would-be hackers by forcing them to compromise multiple keys in order to install malware." -> I feel like this could be phrased bett

[2020-11-09 15:55] jhdalek55 commented on #48
Thanks for the comments.  Here are my replies to a few of them. We can certainly talk more about this tomorrow at the meeting.

I agree we need the section number linking to the "threshold rule." I had planned to include it, but frankly I couldn't find where it was stated as a rule. I could only find references to the rule, but nothing stating that it was a rule. I think we just adopted this as on

[2020-11-09 15:59] jhdalek55 commented on #48
We decided at some point in favor of "implementer" as this has become the commonly accepted form of the word. I thought we had already adjusted for that but, if not, I will check it while proofreading.

The role letters should be capitalized (not the word 'role" bu Targets, etc.) and again I will fix it here.

Thanks.

[2020-11-09 16:14] patrickvacek commented on #48
See for example https://uptane.github.io/uptane-standard/uptane-standard.html#check_root, section 5.4.4.3 step 2.3: "Version N+1 of the Root metadata file MUST have been signed by the following: (1) a threshold of keys specified in the latest Root metadata file (version N), and (2) a threshold of keys specified in the new Root metadata file being validated (version N+1). If version N+1 is not sign

[2020-11-09 16:49] jhdalek55 commented on #48
Last point makes sense. I will fix it.

[2020-11-09 18:21] jhdalek55 commented on #48
I can open the corrected copy as a PR.

[2020-11-10 07:02] JustinCappos commented on #48
This looks good to me.  I think this is a valid case we should clarify.

On Tue, Nov 10, 2020 at 2:21 AM Lois Anne DeLong <notifications@github.com>
wrote:

[2020-11-10 14:54] patrickvacek commented on #48
Closed by https://github.com/uptane/deployment-considerations/pull/59.

[2020-11-10 15:25] patrickvacek commented on #53
This can be closed now that https://github.com/uptane/deployment-considerations/pull/59 is done.

[2020-11-10 15:41] #53 closed

[2020-11-10 16:42] jhdalek55 commented on #48
Closed via Pull Request #59

[2020-11-10 16:43] #48 closed

[2020-11-23 14:24] jhdalek55 opened #64 "Housekeeping issue-Where to put "A JDF Project, etc.""
I don't know if this is even worth bothering with, which is why I am putting it as an issue, rather than making a pull request and submitting a change. The README for Deployment does not include a statement that Uptane is a JDF Project, such as what appears in the footer.

Uptane is a Joint Development Foundation project of the Linux Foundation, operating under the formal title of Joint Developmen

[2020-11-23 14:29] patrickvacek commented on #64
Good point.

Not 100% sure there, it might depend on how we build it.

I think it wouldn't hurt to put it in the README. It might also belong in `index.md`. I'd be fine with either or both.

[2020-11-23 14:34] jhdalek55 commented on #64
Ok. I agree it really needs to be in the document, so I'll put it in the README for now. When we get to the point of assembling the document we can always move it to another location.

[2020-11-24 22:31] jhdalek55 commented on #64
Note we will need to find a place for this information in the Deployment Best Practices. I am going to see if JDF has a "style sheet" for its publications, which will probably show where in the front matter this affiliation should grow.

[2020-12-07 16:31] pattivacek opened #75 ""Copy all unencrypted images from the Image repository.""
In the "What the OEM should do" section of the [repositories page](https://uptane.github.io/deployment-considerations/repositories.html), we claim that to set up the Director repo, one should "[c]opy all unencrypted images from the Image repository." Isn't that only necessary if per-device encryption is being used? Or am I missing something?

It's also confusing that we describe the Director repo

[2020-12-07 16:33] pattivacek opened #76 "Authentication language"
In the "Private API to update images and the inventory database" subsection of the "What the OEM should do" section of the [repositories page](https://uptane.github.io/deployment-considerations/repositories.html), we write that "[t]he OEM is free to use any authentication method, as long as it is suitably strong, such as client certificates, or two-factor authentication, such as a username coupled

[2020-12-07 16:36] pattivacek opened #77 "Link to the Timestamp metadata"
In several parts of the Director subsection of the "What the OEM should do" section of the [repositories page](https://uptane.github.io/deployment-considerations/repositories.html), we suggest things like that the Primary will "receive a link to a Timestamp metadata file in return" to sending a vehicle version manifest. I don't believe that this link is mentioned in the Standard. Is there any reas

[2020-12-07 16:48] jhdalek55 commented on #75
Answering the second comment first, I agree its a bit odd to reference something that hasn't been introduced yet. My impulse, though, is to leave that be for now...unless it really disturbs you or another reviewer.

As for the first point, I know we just wrestled with the issue of encrypted images on the Image repository and resolved it by stating that encrypted or unencrypted doesn't matter on th

[2020-12-07 16:54] jhdalek55 commented on #76
Yeah. The repetition of "such as" is ugly. Likely in the midst of editing that got inserted in the wrong place. I'm happy to fix that.
Your second statement is better answered by someone else, though I agree it doesn't sound like what I know as two factor authentication.

[2020-12-07 18:26] mnm678 commented on #76
That sentence is pretty confusing. I agree that username/password is not two-factor authentication (but it could be one of the two factors). When we re-write this, maybe we can separate the two-factor part into it's own sentence, something like "the OEM is free to use any authentication method as long as it is suitably strong. Examples include client certifications, a  password, or an API key encr

[2020-12-07 18:49] jhdalek55 commented on #76
@mnm678 Your suggestion sounds perfect. Can you submit the sentence you just crafted as a suggestion?

[2020-12-07 18:59] jhdalek55 commented on #76
Actually I guess submit it as a PR.

[2020-12-08 07:25] pattivacek commented on #75
You make a good point that we probably should remove the word "unencrypted", but even that doesn't fully address my concern. My main issue is that I don't understand why we would need to copy all of these images if the Director won't be storing them. If the Director is storing per-device encrypted images, then sure, go for it, but if not, I don't see a reason to do that copy operation.

[2020-12-08 07:26] pattivacek commented on #75
So perhaps my proposal would be to change it to this:

"If the Director will be serving per-device encrypted images, copy all relevant images from the Image repository."

[2020-12-08 11:47] jhdalek55 commented on #75
@trishankkarthik  or @mnm678  would the above proposal work?

[2020-12-08 11:48] #76 closed

[2020-12-08 15:41] pattivacek commented on #77
This is difficult to fix because an image (`assets/images/repo_4_primarytodirector.png`) also uses this text. I think we should maybe push this to the next release since it requires more effort than I can do today.

@mnm678 suggested that this language is probably from interoperability with TAP 5, which [we've now removed](https://github.com/uptane/uptane-standard/pull/196). Is that language still

[2020-12-08 17:00] mnm678 commented on #77
Does anyone have the source for that image? @trishankatdatadog @jhdalek55

[2020-12-08 17:13] jhdalek55 commented on #77
I posted those images. It's in the assets file of the repo. These images were lifted from the Google Doc. I could probably play with it if I know what needs to be revised/changed.

[2020-12-08 20:24] #75 closed

[2020-12-09 16:27] jhdalek55 commented on #77
Can we get a judgement call here? I don't mind if we want to push this back to 1.2.0, but if the image is the only problem, I think I can fix it if I know what  needs to be changed.

[2020-12-11 07:57] pattivacek commented on #77
I think we should push it to 1.2.0; it's not critical and I don't have the capacity to sort out the proper language at the moment.

[2020-12-18 22:41] jhdalek55 commented on #77
Unless there are any objections we will defer this to 1.2.0.

[2020-12-18 22:44] jhdalek55 commented on #77
Unless someone strongly objects in the next 24 hours, we will defer this to V.1.2.0

[2021-01-03 01:58] jhdalek55 opened #82 "Introducing a secure software supply chain mechanism, such as in-toto, to Uptane"
At our last 2020 Standards meeting, the issue was raised that Uptane Deployment Best Practices should discuss options for securing the supply chain for automotive software. The Secure System Lab's in-toto project has already proven successful in integrating with TUF for such purposes. This issue thread can serve as a forum for discussing how to utilize the in-toto framework to minimize attack surf

[2021-01-03 03:25] jhdalek55 commented on #45
In the 12/22 meeting it was suggested we separate this into two issues. Adding a paragraph that describes the consequences of a Time Server key compromise simply requires a thoughtful description and could be marked for Version 1.2.0. The larger issue of "other methods in which an implementer may decide to determine if metadata is malicious or not, outside of the requirement of time" is more compl

[2021-01-05 15:24] trishankatdatadog commented on #82
I think [ITE-2](https://github.com/in-toto/ITE/blob/master/ITE/2/README.adoc) and [ITE-3](https://github.com/in-toto/ITE/blob/master/ITE/3/README.adoc) should be decent start points for documentation on why and how to combine TUF and in-toto.

[2021-01-05 15:50] jhdalek55 commented on #82
@trishankatdatadog Do you think we could extract some starter text from those documents to begin playing with a PR on this issue? I think discussion is always better when we can put some text in play.

[2021-01-15 22:04] jhdalek55 opened #83 "Adding a glossary"
During our 1/5 meeting it was suggested we add a glossary/definition of terms page to Deployment Best Practices. While such a page does exist in the Standard, it makes sense for it to appear in Best Practices so users do not need to refer back to the Standard. Also, adding it to this repo means a quick and easy reference page on the web site as well.

[2021-01-15 22:12] jhdalek55 opened #84 "Listing of Regulations and Standards"
At the 1/5 Standards Meeting, it was decided that the Deployment Best Practices page should contain a list of  regulations and standards relevant to Uptane. These lists will be updated as needed so the page can serve as a quick and easy reference to the status of these documents.

[2021-01-15 22:32] jhdalek55 opened #85 "Clarifying definitions of trust"
What does "trustworthiness” actually mean in the context of Uptane? We need additions to the text that explain this concept and the various way it is implemented. This includes various methods (PKI and non-PKI) of creating hardware "trust anchors," and methods of creating "chains of trust" for resources--with pointers towards relevant Standards.

[2021-01-15 23:24] jhdalek55 opened #86 "Are there more secure alternatives for ECU identifiers than supplier-name-prefixed serial numbers?"
Is there a better way of identifying ECUs that would be inherently more secure (and/or more flexible) than supplier-name-prefixed serial numbers? Given that not all ECUs share the same resources (as @iramcdonald observed, "an ECU that does nothing but adjust the seat belt does not need symmetric cryptography"), what does an identifier actually need to share? The text should reference IEEE 802.1AR

[2021-01-15 23:25] jhdalek55 commented on #86
@iramcdonald...please add, delete or modify text for clarity.

[2021-01-15 23:47] jhdalek55 opened #87 "Strategies for defining stronger software IDs"
We need to add text to the deployment pages that define methods for crafting stronger software Ids. This is  needed in the light of a proposed IETF Standard for Concise Software Identification Tags that is more secure than current supplier/OEM proprietary software version info. Concise SWID (CoSWID) tags, according to IETF's Datatracker  (https://datatracker.ietf.org/doc/draft-ietf-sacm-coswid/),

[2021-01-15 23:48] jhdalek55 commented on #87
@iramcdonald please add, change, delete above text.

[2021-01-15 23:59] jhdalek55 opened #88 "Ensuring Uptane explicitly references relevant standards"
As new standards and regulations emerge, we need to be sure that Uptane references these text, and complies with what they stipulate. Therefore, we need to add text that references SAE J3101 (H/W Protected Security Environments, aka HSMs), ISO/SAE 21434 Road Vehicle Cybersecurity, ISO 24089 Vehicle S/W Update, and others. As @iramcdonald points out, these will be the core specs for security audits

[2021-01-16 00:00] jhdalek55 commented on #88
@iramcdonald--please edit/revise as needed.

[2021-01-19 15:21] plapczyn opened #89 "Proposal to version control deployment considerations and clarify changelog format"
For traceability and clear change management, I proposed versioning the deployment considerations document and improving the changelog to using a defined format.

Propose semantic versioning for document version:
https://semver.org/

Propose Changelog format version 1.1.0 for change log:
https://keepachangelog.com/en/1.1.0/

[2021-01-19 15:27] plapczyn commented on #85
Is this related to #83?

[2021-01-19 16:46] jhdalek55 commented on #89
I would be happy to reorganize the Changelog to meet the format version suggested here. I understand what semver is, but I'm not quite sure what we have to change. @mnm678 could you address that portion?

[2021-01-19 17:03] jhdalek55 commented on #83
@plapczyn not necessarily. I think the definitions referred to #85 might be a bit more in-depth than what this glossary calls for. In effect, this glossary would be the same as the "Terminology" section of the Standard. The Definitions called for in Issue #85 will likely require more elaboration, and perhaps examples/case studies. In short, they will probably be more than a one or two sentence def

[2021-01-20 21:40] mnm678 commented on #89
The Best Practices for 1.1.0 are going to be released on the website (see uptane/uptane.github.io#35), although I don't know if that covers the Changelog format.

[2021-01-20 22:50] jhdalek55 commented on #89
I have not had a chance to change the format yet. I can do that tomorrow if you want to hold off.

[2021-01-21 22:50] jhdalek55 commented on #89
I will change the Changelog tomorrow. I am working on some other Uptane stuff today and I don't think I will get a chance to reformat it.

[2021-01-27 17:46] jhdalek55 commented on #89
@plapczyn @mnm678 ..apologies for the delay in revising the changelog format. There have been a number of follow-up projects for Uptane that have kept me from this. When I  did sit down today to review the link @plapczyn  provided, it appears, it might it will be a bit more time consuming than I initailly thought...not difficult, just more involved. I am going to do some work on this today and hop

[2021-01-27 22:44] jhdalek55 commented on #45
Per my comments earlier this month, and our discussion on 12/22, I am adding a new Issue to address the larger "other methods" issue. Could someone remove those comments from this issue.

[2021-01-27 23:10] jhdalek55 opened #92 "Outside of time checks, are there other ways to determine if metadata is malicious?"
This is a spin-off from Issue #45. While that issue focuses on the effects of a Time Server key compromise, the original author had speculated on the thread about whether an implementer could use other methods to determine if metadata is malicious or not. This thread solicits suggestions for what methods could be proposed that would not serve this function without introducing new threats.

[2021-01-28 17:25] jhdalek55 commented on #89
@plapczyn what else is needed to address this issue?

[2021-01-28 19:20] jhdalek55 commented on #41
@tkfu Does this issue need to remain open, particularly now that you have set up a mechanism to do this?

[2021-01-28 19:55] tkfu commented on #41
Ah, you’re absolutely right. Thanks for catching this, closed by #91

[2021-01-28 19:55] #41 closed

[2021-02-02 22:24] jhdalek55 commented on #89
Based on our conversation in today's (2/2) Uptane Standard Meeting, I am closing this issue as we have changed the formatting of the changelog and did follow semantic versioning numbering.

[2021-02-02 22:24] #89 closed

[2021-02-03 00:13] jhdalek55 commented on #45
We need a volunteer to draft this description. If you have addressed this issue in one of our previous papers, can someone flag the appropriate sections?

[2021-02-10 00:50] jhdalek55 commented on #83
@pattivacek I think to add this page and the list of standards and regulations for Issue #84  I will need two markdown files...unless you can think it would make more sense to incorporate both these things into the the introduction? What like an opinion....

[2021-02-10 07:49] pattivacek commented on #83
I agree, these sound like two pages to me. I think the list of relevant standards and regulations fits fairly well with the Deployment Best Practices, but I think the glossary might be a better fit for the "Basics" section of the website. It's probably fine wherever it ends up, but it seems less about deployment and more general.

[2021-02-10 17:23] jhdalek55 commented on #83
@iramcdonald had mentioned a glossary should be in the Deployment document, so while having it on the website as well is a good idea, it needs to  be in the document. Initially, to was just going to transfer over the existing definitions from the standard, unless the consensus is that we need a more detailed vocabulary for these pages.
@pattivacek can you create the markdown files for me? That's t

[2021-02-10 17:52] pattivacek commented on #83
No problem, that's fine.

Done, see https://github.com/uptane/deployment-considerations/pull/97.

[2021-02-10 17:54] jhdalek55 commented on #83
Thanks...I fill these in later today or tomorrow.

[2021-02-10 19:42] jhdalek55 commented on #77
Closed via PR #94

[2021-02-10 19:43] #77 closed

[2021-02-10 22:21] jhdalek55 commented on #83
I prepared this, but accidentally committed it directly to master. Since this is a duplicate of what is already in the Standard, I don't think this is a big deal. The only reason I wanted to make this a pull request is I wanted to know if there was more we needed to add other than what was already in the Standard.

[2021-02-12 16:31] jhdalek55 commented on #83
Opened PR# 99 to address additional comments.

Lois

[2021-02-12 22:44] jhdalek55 commented on #45
Once again asking if someone can provide starter text for this.

[2021-02-12 23:26] mnm678 commented on #45
@trishankatdatadog Do you know of a previous document that described this? If not I'm happy to draft something.

[2021-02-13 02:09] jhdalek55 commented on #64
This issue was posted more as a reminder to include this mention somewhere in the versioned Deployment document. I don't think it needs to stay open. I'll leave it up for a few days and then will merge.

[2021-02-24 12:20] jhdalek55 commented on #45
Closed with PR #101

[2021-02-24 12:20] #45 closed

[2021-02-25 01:39] #64 closed

[2021-03-09 20:54] jhdalek55 commented on #84
Closed via Issue #100

[2021-03-09 20:54] #84 closed

[2021-03-10 17:07] jhdalek55 commented on #83
To administer @iramcdonald's recommendation to move the glossary from the Standard to the Deployment pages we need to remove the text all under terminology from the main file of the Standard and then replace it with a pointer towards the Deployment "Glossary" pages. While I could do the edit, I'm not sure about setting up the pointer. Could someone take care of this? Meanwhile I am going to ensure

[2021-03-12 22:17] jhdalek55 commented on #83
I am going to close this issue and open one on the Standard repo to remove the glossary from the Standard and add a pointer to the glossary on the Deployment pages.

[2021-03-12 22:47] jhdalek55 commented on #83
Closed via PR #99.  Opened a new issue on the Standard repo to remove the text there and add a pointer.

[2021-03-12 22:47] #83 closed

[2021-04-09 16:35] jhdalek55 commented on #82
Can someone take a run at developing some starter text for this issue? It is flagged for 2.0.0, but I think it would be helpful to put together a proposal for text on the Deployment pages. Even if we are not ready to propose an actual solution, I believe in the wake of SolarWinds, we should acknowledge that this is an issue we are investigating.

[2021-04-09 17:36] jhdalek55 commented on #85
I would be willing to provide some text to address this issue, but I would need two things: First, recommendations as to where I could find sources for these definitions and second, some idea of where this should go (Standard or Deployment? A literal definition to be added to the glossary, or a paragraph or two somewhere in Deployment Best Practices?    @iramcdonald, perhaps if you could provide s

[2021-04-09 17:43] jhdalek55 commented on #86
Can someone review this issue and recommend a strategy to address this issue. Also, I'm assuming this is a 2.0.0 issue, but can someone confirm this and mark it as such a milestone?

[2021-04-09 18:32] iramcdonald commented on #85
Hi Lois,

I'd suggest only Glossary definitions for now (more discussion later in
Deployment Best Practices).

I finally found a working link for the ISO Online Glossary:

https://www.iso.org/obp

Which yields the following for several relevant terms:

** Trustworthy
"stored electronically in an accurate, reliable and usable/readable manner,
ensuring integrity over tim"
- from ISO TR 15801:2009 Do

[2021-04-09 18:34] jhdalek55 commented on #85
Thanks, Ira. That seems like a simple enough fix. I'll see if I can do this before Tuesday's meeting.

[2021-04-09 18:51] iramcdonald commented on #86
Hi Lois,

Yes, this is definitely a v2.0.0 issue.

I still favor using IEEE 802.1AR Device Identity - which defines both
IDevIDs (immutable
manufacturer-supplied device identifiers) and LDevIDs (local device
identifiers generated by
a hash function from an IDevID and local network-specific context info -
these are mutable,
for example if a given ECU was moved from one vehicle to another vehicle).

[2021-04-20 22:48] jhdalek55 commented on #4
As this is an issue with no immediate resolution in site, it was decided in the 4/13 Uptane Standard meeting to leave this issue open, but change its status to "deferred."

[2021-04-20 22:53] jhdalek55 opened #102 "Creating an "EMERGING ISSUES" page"
At our 4/13 Uptane Standards meeting, it was decided to add a page to the Deployment Best Practices that would describe in brief emerging issues affecting the future of the Uptane framework.

[2021-04-21 01:30] jhdalek55 commented on #82
This issue was discussed at some length at the 4/13/21 Uptane meeting. @JustinCappos recommended we look at the DataDog integration and/or software bill of materials (SBOM) entries. @iramcdonald pointed us towards the  NTIA Software Component Transparency (https://www.ntia.doc.gov/SoftwareTransparency).  We will be looking at various approaches and will add some copy to the Deployment pages on thi

[2021-04-21 15:04] jhdalek55 commented on #85
I'm going to add the text supplied by Ira and that should close out this issue.

[2021-04-21 16:11] jhdalek55 commented on #85
Will be resolved once PR #103 is approved and merged

[2021-04-22 11:40] iramcdonald commented on #82
Hi Lois,

For NTIA, the primary reference should be to their SBOM (Software Bill of
Materials) project:

https://www.ntia.gov/SBOM

The other NTIA reference was to a related conference, but does not include
the list of tools,
formats, and standards for SBOMs (which *are* listed at the above
reference).

My TCG colleague Henk Birkholz (Fraunhofer Security Institute) is actively
participating in
the

[2021-04-22 17:09] jhdalek55 commented on #82
Thanks for the update, Ira.

[2021-04-22 17:12] trishankatdatadog commented on #82
[ITE-2](https://github.com/in-toto/ITE/blob/master/ITE/2/README.adoc) and [ITE-3](https://github.com/in-toto/ITE/blob/master/ITE/3/README.adoc) might help...

[2021-04-26 14:13] jhdalek55 commented on #85
Closed via PR #103

[2021-04-26 14:13] #85 closed

[2021-04-26 16:12] jhdalek55 commented on #86
At our 4/13 meeting, it was agreed we should add an "Emerging Issues" page to Deployment Best Practices that would address topics like this one where no definitive solution is on the horizon. PR # 104 opened a file for this page and @jhdalek55 will draft some initial text. In addition to this issue, the text will address Issue #162, #200,  and #201 on the Standards page.

[2021-04-26 16:16] jhdalek55 commented on #102
The page was created with PR #104. @jhdalek55 will be draft some text for this new page, so we'll keep the issue open till that is completed.

[2021-05-17 20:43] mnm678 opened #106 "Clarify uniqueness requirement for ECU identifiers."
In the glossary, ECU identifiers are defined as "An attribute used to identify a specific ECU (e.g., a unique serial number)." What do these identifiers need to be unique across?

Proposal: change the above to state "A globally unique attribute..."

[2021-05-18 19:50] jhdalek55 commented on #102
Close with the merging of PR #105

[2021-05-18 19:50] #102 closed

[2021-05-20 15:53] jhdalek55 commented on #106
This makes all makes sense. Any objections to merging?

[2021-05-20 16:57] jhdalek55 opened #107 "Overwriting the changelog"
This is a purely mechanical question, but I wanted to clarify something discussed in the 5-11 meeting. Sometime next month, I will be writing the changelog for V 1.2.0. That means adding text that will only document changes made between med-January 2021 and June 30 of the same year. The consensus was that it would be all right to remove the current changelog and have only the new text present sinc

[2021-05-21 06:54] pattivacek commented on #107
Why would we want to remove the older entries of the changelog? I think it's worth keeping those around somewhere. I see two solutions based on your comments:

1. Have one changelog doc with multiple sections, one for each new version, similar to the [aktualizr changelog](https://github.com/uptane/aktualizr/blob/master/CHANGELOG.md).
2. Have two documents, one only for the changes in the latest ve

[2021-05-21 16:17] jhdalek55 commented on #107
I think I like the second suggestion made by  @pattivacek, but I agree that how it affects building the PDF and HTML versions should be the most important consideration. Can someone who knows more than me weigh in on this?

[2021-05-25 15:21] jhdalek55 commented on #107
In the 5/25 Uptane meeting, the decision was made not to overwrite the changelog but to keep it as a running list in both the document and the webpages. With this decision made, we can close this issue.

[2021-05-25 15:21] #107 closed

[2021-06-08 11:34] jhdalek55 commented on #106
Closed via PR #108

[2021-06-08 11:34] #106 closed

[2021-07-19 20:16] jhdalek55 commented on #86
Where are we at with this? We did include it in the Emerging Issues write-up, but how do we proceed with addressing the issue?

[2021-07-19 21:05] jhdalek55 commented on #87
What do we need to complete this ?

[2021-07-19 21:07] jhdalek55 commented on #87
How can this be addressed? Can we clarify if this is a wording issue, and if so where and how do fix it?

[2021-07-19 21:16] jhdalek55 commented on #88
@iramcdonald will we likely need to incorporate any of these references in V. 2.0.0? If so, where do we start?

[2021-07-19 21:20] jhdalek55 commented on #92
There has been no comment on this Issue since it was introduced in January. What do we need to move this forward?

[2021-07-19 21:36] mnm678 commented on #92
There are other ways that metadata can be malicious, but Uptane leaves that up to the developers/testing environment. If a vulnerability is discovered, metadata can be revoked so that future updates do not use the compromised image.

I think that the detection of malware is out of scope for Uptane, but we should ensure that the deployment pages make it clear what implementers can do if malware is

[2021-07-28 23:18] jhdalek55 commented on #92
Should we add "detection of malware" to the "non-goals for the Standard"? And, what would implementers do in this case?

[2021-08-17 03:24] jhdalek55 commented on #82
As of the 8/3 Standards meeting, it was decided this topic will be addressed in our next whitepaper, which is to be released in December. Text will likely be added to the Deployment pages but possibly not in time for 2.0.0..

[2021-08-17 03:28] jhdalek55 commented on #86
It was decided at the 8/3 Uptane Standards meeting that a Deployment entry should be drafted that would address the concept of secure identifiers and would encompass both issues #86 and Issue #87. Ira McDonald also suggested that we review the Standard document and make sure that we do not imply anywhere in the document that a serial number by itself is a secure identifier.

[2021-08-17 03:30] jhdalek55 commented on #87
It was decided at the 8/3 Uptane Standards meeting that a Deployment entry should be drafted that would address the concept of secure identifiers and would encompass both issues #86 and #87. Ira McDonald also suggested that we review the Standard document and make sure that we do not imply anywhere in the document that a serial number by itself is a secure identifier.

[2021-08-17 03:43] jhdalek55 commented on #92
This issue deals with the use of secure monotonic counters, a tamper-resistant counter embedded in a device whose value, once incremented, cannot be reverted back to a previous value.

[2021-09-09 19:06] jhdalek55 commented on #87
Since no one is stepping forward I can draft something that address #86 and #87 using the notes and references Ira provided in these threads. The text will be short and will mostly be a summary of why this is an issue that needs to be addressed. So I believe I can cobble something together for review and comment.

[2021-09-09 19:23] jhdalek55 commented on #82
Note that @trishankatdatadog  opened PURE Issue #2 dealing with this topic (https://github.com/uptane/pures/issues/2), so in parallel with the whitepaper he and @mnm678 will be drafting a PURE as well.

[2021-09-13 13:51] iramcdonald commented on #87
Hi Lois,

Thanks for offering to draft the appropriate text.  I have no free cycles in
the near future.

Cheers,
- Ira

*Ira McDonald (Musician / Software Architect)*

*Chair - SAE Trust Anchors and Authentication TF*
*Co-Chair - TCG Trusted Mobility Solutions WG*

*Co-Chair - TCG Metadata Access Protocol SG*

*Chair - Linux Foundation Open Printing WGSecretary - IEEE-ISTO Printer
Working GroupCo-

[2021-09-13 14:34] jhdalek55 commented on #87
@iramcdinald as long as you and maybe one or two other can check the work I don't mind taking this on.

[2021-11-23 16:08] jhdalek55 commented on #92
We are holding off on dealing with this issue for now. It will not be considered for 2.0.0

[2021-12-17 17:59] jhdalek55 commented on #87
Closing this issue and Issue #86 and re-opening a new issue on the Standard to make the necessary changes in policy once a clearer consensus on secure identifiers emerges (i.e.pending developments in evolving standards).

[2021-12-17 20:22] #87 closed

[2021-12-17 20:24] jhdalek55 commented on #86
Issue #230 has been opened on the Standard issue as a reminder to make the necessary changes in policy once a clearer consensus on secure identifiers emerges. Therefore I am closing this issue and #87

[2021-12-17 20:24] #86 closed

[2021-12-19 03:46] jhdalek55 commented on #82
Closing this via PR #121. I have left Issue #222 on the Standard page as a placeholder for additional thoughts on supply chain.

[2021-12-19 03:46] #82 closed

[2022-01-21 18:36] jhdalek55 opened #129 "Updating in text links to the Standard"
As I have been reviewing the Deployment Best Practices pages, I've noticed that wherever text refers to a section in the Standard, it is referencing V.1.1.0. Once we publish V.2.0.0., It's important that we refer readers to that version.

I thought we had a mechanism in place on the Standard that automatically points to the newest version? Can we set that up for this document as well? Failing that

[2022-02-07 01:17] jhdalek55 commented on #129
Once there is a 2.0.0 to point this to, then we must change these references.

[2022-03-21 15:52] jhdalek55 commented on #129
This is addressed in PR #130

[2022-04-11 18:47] jhdalek55 commented on #129
Fixed by merging PR #130

[2022-04-11 18:47] #129 closed

[2022-05-24 15:00] JustinCappos commented on #92
While not urgent and not related to the time server, some recent TUF specification / implementation issues are loosely related to the concept of doing further verification.  We should take a look at the Uptane spec and try to reconcile it with TUF to ensure we are applying the same checks everywhere (unless there is a reason not to).

https://github.com/theupdateframework/specification/issues/227

[2022-05-24 15:04] jhdalek55 commented on #92
This is helpful. I'll take a look and try to set up as an issue(s) that we can use for future discussions.

[2022-06-17 18:03] jhdalek55 commented on #92
Refer to this as a freshness issue instead. Maybe rephrase this.

[2022-08-04 20:25] cchalm opened #134 "Should the primary send the Director's targets metadata to all secondaries, even those for which there is no target?"
Consider a vehicle with the following architecture:

- Primary ECU "A"
- Secondary ECU "B"
- Secondary ECU "C"
[code]

If the primary ECU receives targets metadata from the director that contains a target for B but not for C, should/must the targets metadata still be sent to C for verification?

If the primary ECU receives targets metadata from the director that is empty, i.e. lists no targets for

[2022-08-05 07:27] pattivacek commented on #134
IMO no. What would be the benefit?

Again no, what's the point?

Yes, but the Primary has that authority regardless. How would a Secondary recognize that a Primary isn't sending it new metadata? AFAICT that isn't possible in the current standard. We could change that to require that the Primary sends the latest metadata to each Secondary every x amount of time, but that sounds like a lot of redund

[2022-08-05 21:11] cchalm commented on #134
Regarding continuity, I was paraphrasing a concern raised by members of the Uptane group during initial discussion of this question, so I'm hoping someone involved in the conception of that concern will chime in. Until then I'll just respond with regard to capabilities of a malicious primary.

While a malicious primary can, of course, choose not to send information to secondaries, it cannot preven

[2022-08-08 13:35] pattivacek commented on #134
That is interesting. It is extra information that the Secondary would have to store (so perhaps impractical for partial verification Secondaries), but I like the idea.

Right. I'm skeptical that that effort (sending empty/irrelevant Targets metadata to a Secondary) would be worth the rather small benefit (maybe detecting an attack slightly faster), but I'd be happy to hear dissenting voices. I hav

[2022-08-08 15:55] jhdalek55 commented on #134
Just to inject some of the discussion we had on this issue, I think the concern was if we don't require that the Primary send the Targets metadata to the ECU for verification, even when there is no image and no Targets metadata, we might be ignoring updates in the Root, Timestamp or Snapshot metadata that would still need to be verified. As written up in the notes from the first time it was discus

[2022-08-08 18:52] JustinCappos commented on #134
This matches my recollection as well.

On Mon, Aug 8, 2022 at 11:55 AM Lois Anne DeLong ***@***.***>
wrote:

[2022-08-08 21:42] cchalm commented on #134
Missing a version of Targets, Snapshot, or Timestamp metadata does not prevent verification of the following version, does it? E.g. an ECU can verify Timestamp metadata v10 if the last version it saw was v1. Why would a secondary ECU missing a version of these metadatas be a problem?

Verifying Root metadata does not require Targets metadata, so how would denying Targets metadata to a secondary ca

[2022-08-08 22:03] JustinCappos commented on #134
Uptane can usually validate files from a later version in the situations
you describe.  For targets, snapshot, or timestamp, there usually isn't a
problem.

Verifying Root metadata does not require Targets metadata, so how would

The issue here is that there is no requirement to send updated root
metadata, etc. when it has changed if there is not also a targets file
update.

So, consider the case

[2022-08-09 00:15] cchalm commented on #134
You're assuming that a secondary ECU can only rotate Root metadata when the primary ECU does, but nothing that I've read in the standard prevents secondaries from doing this later. E.g. if a secondary could request specific versions of Root metadata from the primary, with the primary acting as a proxy to the Director, it could rotate to the latest root metadata at any time.

[2022-08-09 08:47] pattivacek commented on #134
The context is clearer to me, but AFAICT this has nothing to do with Targets metadata; the issue is Root metadata. There are two cases I'm aware of:

1. Secondary is not capable of updating Root metadata itself (the minimal partial verification case): the Primary will need to push an update to the Secondary with the new Root metadata embedded in it. The image creator, Director, and Primary are res

[2022-08-30 02:51] jhdalek55 opened #135 "Clarifying Text for ECUs without secondary storage"
The text devoted to working with ECUs Without Secondary Storage in Deployment Best Practices needs another look. Recent discussions on how such ECUs handle verifications tell us that we are not clearly addressing community questions about this topic. What specifically do we need to add or remove about this topic as written at https://github.com/uptane/deployment-considerations/blob/master/ecus.md#

[2022-08-30 15:26] tkfu opened #136 "Vehicles can't update Image repository root metadata unless and until they receive a software update to at least one ECU"
Consider the case where you want to perform a root key rotation for Image repo root metadata, for example because there is evidence that one or more keys may have been compromised. In this scenario, we'd want all ECUs to get the updated root metadata as soon as possible. However, there's an impediment to that happening: a vehicle will only check for new Image repository root metadata if Director t

[2022-08-30 15:26] tkfu commented on #136
We discussed this issue on the 30.08.2022 standards committee call, and agreed that there are two steps we should take here:

1. Add some text to deployment considerations about what to do when you need to rotate an Image repo root key. If you want your vehicles to get the metadata, you need to send out an update to at least one ECU, even if it's a "dummy" update that just bumps a version number.

[2022-08-30 15:27] tkfu commented on #134
I think @pattivacek's answer here is pretty definitive. This discussion did lead to an interesting secondary discussion of renewing image repo root metadata in the absence of new updates, however. That discussion has been opened as #136.

[2022-08-30 15:27] #134 closed

[2022-09-01 06:39] pattivacek commented on #134
I believe the answer is "no" but if someone has a concern about a case in which the answer is something else, we should still talk that out.

I think your request for clarification in the Standard is fair. Would you like to make a proposal?

[2022-09-01 06:41] pattivacek commented on #136
Ah interesting, I didn't think about this case specifically when considering https://github.com/uptane/deployment-considerations/issues/134. I agree on these steps, although we might want to add some text in the Standard itself to explain this, or at least provide it as an example of why you might want to send more metadata than appears necessary at first glance.

[2022-09-02 16:11] jhdalek55 commented on #135
Note any text developed for this section should probably reference any new text drafted to address Issue #136 .

[2022-09-02 20:46] jhdalek55 commented on #134
@cchalm. Yes, please submit a PR to modify the line in question.

[2022-09-23 02:57] cchalm commented on #134
New input from @iramcdonald. Quoting from https://github.com/uptane/uptane-standard/pull/240#issuecomment-1255435864:

I'm not at all happy with this dubious optimization of not sending to some of the Secondaries.  That opens the door for security corner cases.

Should we re-open this issue to continue the discussion?

[2022-09-23 05:26] cchalm opened #137 "Chicken-and-egg problem with Director Root metadata verification and latest time verification"
From https://uptane.github.io/deployment-considerations/repositories.html#changes-to-the-director-repository:

If the public key for an external time source is specified in the Director Root metadata, then having a verified copy of the latest Director Root metadata is required to verify the time. Verifying the Director Root metadata requires checking that it has not expired, which requires a verif

[2022-09-23 08:45] pattivacek commented on #134
As I last wrote here:

I've yet to hear such a case. If someone can imagine one, I'd like to hear it.

[2022-09-23 13:26] iramcdonald commented on #134
Hi,

Well I concede that we can leave the issue closed.

I do feel that depending on the Primary to make the "optimized" decision
about which
Secondaries should get updated targets metadata feels fragile to me.

Cheers,
- Ira

*Ira McDonald (Musician / Software Architect)*

*Chair - SAE Trust Anchors and Authentication TF*
*Co-Chair - TCG Trusted Mobility Solutions WG*

*Co-Chair - TCG Metadata Ac

[2022-09-24 13:51] jhdalek55 commented on #134
Can we bring this to a resolution?

[2022-09-24 14:07] jhdalek55 commented on #135
Can we determine if any changes here are needed?

[2022-09-27 14:41] jhdalek55 commented on #134
At the Uptane Standards call on 9/27 we agreed to refrain from making changes at this point. It may be worth discussing as part of the wider topic about metadata in the future.

[2022-10-03 17:41] jhdalek55 commented on #135
At the 9/27 Standards meeting, the following changes were requested:

Change the section title to "ECUs without sufficient storage"
Remove the last few sentences starting from the word "However,..."

[2022-10-03 18:02] jhdalek55 commented on #135
Opened PR# 138 on Deployment Best Practices to make the changes listed above.

[2022-10-08 02:06] jhdalek55 commented on #88
We should probably do a walk through the Standard to see where specific references to these regulations/standards are specifically warranted. We should also review and update https://github.com/uptane/deployment-considerations/blob/master/regulations_and_standards.md as well.

[2022-10-14 15:21] jhdalek55 commented on #135
Deleted with the merger of PR #138

[2022-10-14 15:21] #135 closed

[2022-10-20 23:51] jhdalek55 opened #139 "Clarifying the ECU keys"
In addressing a few of the issues raised by closed Standard Issue #174 and newly opened Standard issue #241, it became clear that we need to do a better job in the Deployment Best Practices section in explaining the different types of keys. The existing text, found at https://github.com/uptane/deployment-considerations/blob/master/key_management.md#repository-keys is perhaps not as comprehensive o

[2022-11-22 15:41] jhdalek55 commented on #139
At the 11/22 meeting, we labeled this issue as a priority to address as it is still causing confusion.